[*.{c,c++,cc,cp,cpp,cu,cuh,cxx,h,hh,hlsl,hlsli,hpp,hxx,inc,inl,ino,ipp,mpp,proto,tpp,usf,ush}]
indent_style=tab
indent_size=tab
tab_width=4

[*.{asax,ascx,aspx,cs,cshtml,css,htm,html,js,jsx,master,razor,skin,ts,tsx,vb,xaml,xamlx,xoml}]
indent_style=space
indent_size=4
tab_width=4

[*.{appxmanifest,axml,build,config,csproj,dbml,discomap,dtd,json,jsproj,lsproj,njsproj,nuspec,proj,props,resjson,resw,resx,StyleCop,targets,tasks,vbproj,xml,xsd}]
indent_style=space
indent_size=2
tab_width=2

[*]

# Microsoft .NET properties
csharp_new_line_before_members_in_object_initializers=false
csharp_preferred_modifier_order=public, private, protected, internal, new, abstract, virtual, sealed, override, static, readonly, extern, unsafe, volatile, async:suggestion
csharp_preserve_single_line_blocks=true
csharp_style_var_elsewhere=false:suggestion
csharp_style_var_for_built_in_types=false:suggestion
csharp_style_var_when_type_is_apparent=false:suggestion
dotnet_naming_rule.locals_rule.severity=none
dotnet_naming_rule.locals_rule.style=lower_camel_case_style_1
dotnet_naming_rule.locals_rule.symbols=locals_symbols
dotnet_naming_rule.local_constants_rule.severity=none
dotnet_naming_rule.local_constants_rule.style=lower_camel_case_style_1
dotnet_naming_rule.local_constants_rule.symbols=local_constants_symbols
dotnet_naming_rule.private_constants_rule.severity=none
dotnet_naming_rule.private_constants_rule.style=upper_camel_case_style
dotnet_naming_rule.private_constants_rule.symbols=private_constants_symbols
dotnet_naming_rule.private_static_readonly_rule.severity=none
dotnet_naming_rule.private_static_readonly_rule.style=lower_camel_case_style
dotnet_naming_rule.private_static_readonly_rule.symbols=private_static_readonly_symbols
dotnet_naming_style.lower_camel_case_style.capitalization=camel_case
dotnet_naming_style.lower_camel_case_style.required_prefix=_
dotnet_naming_style.lower_camel_case_style_1.capitalization=camel_case
dotnet_naming_style.upper_camel_case_style.capitalization=pascal_case
dotnet_naming_symbols.locals_symbols.applicable_accessibilities=*
dotnet_naming_symbols.locals_symbols.applicable_kinds=local
dotnet_naming_symbols.local_constants_symbols.applicable_accessibilities=*
dotnet_naming_symbols.local_constants_symbols.applicable_kinds=local
dotnet_naming_symbols.local_constants_symbols.required_modifiers=const
dotnet_naming_symbols.private_constants_symbols.applicable_accessibilities=private
dotnet_naming_symbols.private_constants_symbols.applicable_kinds=field
dotnet_naming_symbols.private_constants_symbols.required_modifiers=const
dotnet_naming_symbols.private_static_readonly_symbols.applicable_accessibilities=private
dotnet_naming_symbols.private_static_readonly_symbols.applicable_kinds=field
dotnet_naming_symbols.private_static_readonly_symbols.required_modifiers=static,readonly
dotnet_style_parentheses_in_arithmetic_binary_operators=never_if_unnecessary:none
dotnet_style_parentheses_in_other_binary_operators=never_if_unnecessary:none
dotnet_style_parentheses_in_relational_binary_operators=never_if_unnecessary:none
dotnet_style_predefined_type_for_locals_parameters_members=true:suggestion
dotnet_style_predefined_type_for_member_access=true:suggestion
dotnet_style_qualification_for_event=false:suggestion
dotnet_style_qualification_for_field=false:suggestion
dotnet_style_qualification_for_method=false:suggestion
dotnet_style_qualification_for_property=false:suggestion
dotnet_style_require_accessibility_modifiers=for_non_interface_members:suggestion

# ReSharper properties
resharper_align_linq_query=true
resharper_align_multiline_argument=true
resharper_align_multiline_calls_chain=true
resharper_align_multiline_extends_list=true
resharper_align_multiline_for_stmt=true
resharper_align_multline_type_parameter_constrains=true
resharper_align_multline_type_parameter_list=true
resharper_align_tuple_components=true
resharper_apply_on_completion=true
resharper_braces_for_dowhile=required_for_multiline
resharper_braces_for_fixed=required_for_multiline
resharper_braces_for_for=required_for_multiline
resharper_braces_for_foreach=required_for_multiline
resharper_braces_for_ifelse=required_for_multiline
resharper_braces_for_lock=required_for_multiline
resharper_braces_for_using=required_for_multiline
resharper_braces_for_while=required_for_multiline
resharper_csharp_align_multiline_parameter=true
resharper_csharp_align_multiple_declaration=true
resharper_csharp_blank_lines_around_invocable=2
resharper_csharp_blank_lines_around_single_line_invocable=1
resharper_csharp_empty_block_style=together_same_line
resharper_csharp_insert_final_newline=true
resharper_csharp_max_line_length=250
resharper_csharp_naming_rule.locals=aaBb, oe + AaBb
resharper_csharp_naming_rule.local_constants=aaBb:do_not_check
resharper_csharp_naming_rule.private_constants=AaBb:do_not_check
resharper_keep_existing_declaration_block_arrangement=false
resharper_keep_existing_embedded_arrangement=false
resharper_keep_existing_enum_arrangement=false
resharper_keep_existing_expr_member_arrangement=false
resharper_local_function_body=expression_body
resharper_max_enum_members_on_line=1
resharper_method_or_operator_body=expression_body
resharper_show_autodetect_configure_formatting_tip=false
resharper_sort_usings_with_system_first=false
resharper_space_before_type_parameter_angle=false
resharper_space_between_keyword_and_type=false
resharper_space_within_single_line_array_initializer_braces=true
resharper_wrap_array_initializer_style=chop_always

# ReSharper inspection severities
resharper_arrange_redundant_parentheses_highlighting=hint
resharper_arrange_this_qualifier_highlighting=hint
resharper_arrange_type_member_modifiers_highlighting=hint
resharper_arrange_type_modifiers_highlighting=hint
resharper_built_in_type_reference_style_for_member_access_highlighting=hint
resharper_built_in_type_reference_style_highlighting=hint
resharper_check_namespace_highlighting=none
resharper_comment_typo_highlighting=none
resharper_condition_is_always_true_or_false_highlighting=none
resharper_convert_if_statement_to_switch_statement_highlighting=none
resharper_foreach_can_be_partly_converted_to_query_using_another_get_enumerator_highlighting=none
resharper_heuristic_unreachable_code_highlighting=none
resharper_identifier_typo_highlighting=none
resharper_inconsistent_naming_highlighting=none
resharper_invert_if_highlighting=none
resharper_json_validation_failed_highlighting=none
resharper_possible_multiple_enumeration_highlighting=none
resharper_redundant_base_qualifier_highlighting=warning
resharper_string_literal_typo_highlighting=none
